.header {
    display: flex;
    margin-top: 50px
}

.telephone img {
    width: 140px;

}

.logo{
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.logotype{
    width: 100%!important;
    max-width: 440px!important;
}

.header li {
    list-style: none;
    margin-right: 25px;
    font-size: 20px;
}

.telephoneBlock {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 30px;
}

.telFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.telPartOne {
    position: relative;
    background: black;
    width: 100%;
    max-width: 300px;
    height: 653px;
    border-radius: 40px;
    margin-top: 85px;
}

.telPartOne:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 57px;
    height: 5px;
    background: rgba(59, 59, 59, 1);
}

.telPartOne:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 57px;
    height: 5px;
    background: rgba(59, 59, 59, 1);
}

.telPartTwo {
    position: relative;
    background: white;
    width: 100%;
    max-width: 297px;
    height: 651px;
    border-radius: 40px;
}

.telPartTwo:after {
    content: '';
    position: absolute;
    width: 5px;
    top: -1px;
    right: 52px;
    height: 100.3%;
    background: rgba(59, 59, 59, 1);
}

.telPartTwo:before {
    content: '';
    position: absolute;
    width: 5px;
    top: -1px;
    left: 52px;
    height: 100.3%;
    background: rgba(59, 59, 59, 1);
}

.telParThree {
    background: rgba(59, 59, 59, 1);
    width: 100%;
    max-width: 294px;
    height: 648px;
    border-radius: 38px;
    z-index: 1;
}

.telParFour {
    background: black;
    width: 100%;
    max-width: 288px;
    height: 644px;
    border-radius: 39px;
}

.telParFive {
    background: white;
    width: 100%;
    max-width: 243px;
    height: 622px;
    border-radius: 34px;
    position: relative;
    padding: 0 15px;
}

.telParFive:before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: calc(50% - 45px);
    width: 100%;
    max-width: 90px;
    height: 5px;
    background: black;
    border-radius: 15px;

}

.telParFive-line {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 65px);
    width: 100%;
    max-width: 130px;
    height: 23px;
    background: black;
    border-radius: 0 0 10px 10px;
}

.telParFive-line__microphone {
    content: '';
    position: absolute;
    top: calc(50% - 4.5px);;
    left: calc(50% - 15px);
    width: 100%;
    max-width: 30px;
    height: 5px;
    background: rgba(59, 59, 59, 0.82);
    border-radius: 10px;
}

.telParFive-line__microphone:after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);;
    left: 127%;
    width: 100%;
    max-width: 10px;
    height: 10px;
    background: rgba(59, 59, 59, 0.82);
    border-radius: 10px;
}

.telParFive-line__microphone:before {
    content: '';
    position: absolute;
    top: calc(50% - 3.5px);
    left: 132%;
    width: 100%;
    max-width: 7px;
    height: 7px;
    background: #383961;
    border-radius: 10px;
    z-index: 11;
}


.telParFive h1 {
    font-size: 25px;
    margin-top: 65px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}


.courses{
    overflow-x:hidden ;
    height:100%;
    max-height: 492px;
}

.courses::-webkit-scrollbar{
width: 0;
}

.countryСourses {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.country {
    display: flex;
    align-items: center;

}

.country img {
    width: 50px;
    margin-right: 10px;
}

.country h5 {
    margin: 0;
    font-size: 10px;
}

.country p {
    margin-top: 3px;
    font-size: 10px;
    margin-bottom: 0;
}

.courseComparison {
    width: 100%;
    max-width: 118px;
    background: #eeeeee;
    border-radius: 5px;
    height: 30px;
}

.courseComparison{
    align-items: center;
    display: flex;
    justify-content: center;
}
.courseComparison p{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}

.textMargin{
    margin-left: 5px!important;
}