.header{
    display:flex;
    margin-top:50px
}

.logo img{
    width: 140px;

}

.header li{
    list-style: none;
    margin-right:25px ;
    font-size: 20px;
}

.logo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.telFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.telPartOne {
    background: black;
    width: 100%;
    max-width: 300px;
    height: 653px;
    border-radius: 40px;
}
.telPartTwo{
    background: white;
    width: 100%;
    max-width: 297px;
    height: 651px;
    border-radius: 40px;
}

.telParThree{
    background: lightgrey;
    width: 100%;
    max-width: 294px;
    height: 649px;
    border-radius: 40px;
}

.telParFour{
    background: black;
    width: 100%;
    max-width: 288px;
    height: 644px;
    border-radius: 39px;
}

.telParFive{
    background: white;
    width: 100%;
    max-width: 269px;
    height: 622px;
    border-radius: 34px;
    position: relative;
}

.telParFive:after{
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 65px);
    width:100%;
    max-width: 130px;
    height: 23px;
    background: black;
    border-radius: 0 0 10px 10px;
}
