.App {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 1329px;
    min-height: 1329px;
    background: repeating-linear-gradient(
            20deg, #2359c0, #000 709px);
}

.app-data {
    display: flex;
    justify-content: space-between;
    align-items: start;

}


.logo {
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-left: 20px;
}

.logotype {
    width: 100% !important;
    max-width: 440px !important;
}

.scoreboard {
    background: #2359C0;
    width: 100%;
    max-width: 1400px;
    height: 1000px;
    border-radius: 500px 0px 0px 500px;
    display: flex;
    justify-content: flex-end;
}


.scoreboard-date {
    position: relative;
    width: 100%;
    background: black;
    max-width: 1350px;
    height: 1000px;
    border-radius: 500px 0px 0px 500px;
    display: flex;
    align-items: center;
}

.scoreboard-date:after {
    content: url("./img/units-converter-time-converter.684976947c3d.png");
    position: absolute;
    width: 1000px;
}


.scoreboard-text {
    width: 100%;
    max-width: 928px;
    height: 602px;
    background-image: url("./img/conver.png"), url("./img/bg000-mb.webp"), linear-gradient(
            200deg, #640ec3 20%, #1CFFEA 71%);
    background-color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    position: absolute;
    top: 167px;
    left: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1700px) {
    .telephoneBlock {
        max-width: 313px !important;
    }
}

@media screen and (max-width: 1606px) {
    .app-data {
        justify-content: end;
    }
}

@media screen and (max-width: 1243px) {
    .scoreboard-date:after {
        display: none;
    }
    .scoreboard-text{
        background: none;
        left: auto;
    }
    .scoreboard-date{
        background: none;
        justify-content: center;
    }
    .scoreboard{
        background: none;
    }
}

@media screen and (max-width: 730px){

    .logo{
        margin-bottom:40px;
    }

    .logotype {
        max-width: 323px !important;
    }
    .scoreboard-text{
       height: auto;
        position: static;
    }
    .app-data {
        flex-direction: column-reverse;
    }
    .scoreboard{
        height: auto;
    }

    .scoreboard-date{
        height: auto;
    }
}

@media screen and (max-width: 550px){
    .logotype {
        max-width: 250px !important;
    }

    .logo img{
        width: 130px;
    }

}

@media screen and (max-width: 415px){
    .logotype {
        max-width: 160px !important;
    }
}
