.App {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
}

.scoreboard {
    background: #058ffc;
    width: 100%;
    max-width: 1400px;
    height: 1000px;
    border-radius: 500px 0px 0px 500px;
    display: flex;
    justify-content: flex-end;
}

.scoreboard-date {
    background: white;
    width: 100%;
    max-width: 1350px;
    height: 1000px;
    border-radius: 500px 0px 0px 500px;
}



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
